<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="veritabanı.Properties.Settings.KitaplarConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Kitaplar.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>